@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{ 
background-image: url(../img/bg.png);
background-repeat: no-repeat;
	font-family: "Montserrat", serif;
}
canvas{
	opacity:  0.3;
}
section{
	padding-top: 60px;
	width: 100%;
}
.wrapper{
	width: 100%;
	max-width: 1620px;
	margin: auto;
	background-image: url(.../img/bg_splash.webm);
	background-repeat: no-repeat;
	background-position: -10;
	padding-top: 250px;
	z-index: 99999;
}
.container{
	color: #ffffff;
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
}
.container h1{
	font-weight: 300;
	font-size: 48px;
	letter-spacing: 22%;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}
.container h2{
	margin-top: 0;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 22%;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}
.blur_title{
	filter: blur(5px);
	Opacity: 50%;
	font-size: 250px!important;
	position: absolute;
}
.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  object-fit: cover;
}
button{
		font-family: "Montserrat", serif;
	display: block;
	margin: auto;
	background: none;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300!important;
	padding: 10px 30px;
	transition-duration: .3s;
}
button:hover{
	transition-duration: .3s;
	opacity: 70%;
	cursor: pointer;
}
a{
	text-decoration: none;
}
